#content {
  display: block;
  padding-left: 200px;
}
#header {
  text-align: center;
}
#sunny_days {
  text-align: center;
}
#data {
  display: block;
  margin-left: 2%;
  width: 200px;
  height: 200px;
}
#data.label {
  font-size: 10px;
}
.weather {
  display: block;
  width: 600px;
}
.weather h1 small {
  color: BLACK;
}
.weather h1 {
  font-size: 700%;
}
.label {
  display: block;
  font-size: 125%;
  background-color: BLACK;
}
.weather canvas {
  display: block;
}
#data a {
  display: block;
  font-size: 125%;
  background-color: BLACK;
}
.alert {
  display: inline-block;
}
.hide {
  display: none;
}
